@import "_variables.css";
@import "_reset.css";
@import "_footer.css";
@import "_nav.css";
@import "_header.css";

body {
    background-color: var(--main-bg-color);
    font-family: var(--font-family-avenir-book);
}

aside{
    background-color: white;
}

.bg-orange {
    background-color: var(--orange-gradient-dark) !important;
}

.bg-gray {
    background-color: var(--main-bg-color);
}

.text-gray {
    color: var(--text-gris)
}

.form-control, .btn {
    height: 44px;
}

.btn-orange{
    background-color: var(--orange-gradient-dark);
    color: white;
}

.btn-orange:hover{
    background-color: transparent;
    border: 1px solid var(--orange-gradient-dark);
    color: var(--orange-gradient-dark);
}