nav {
    box-shadow: 0px 2px 15px;
}

nav img {
    height: 60px;
}

.navbar-toggler {
    box-shadow: 2px 2px 19px;
    outline: none !important;
}

.navbar-toggler:hover {
    background-color: rgba(0,0,0,.1);
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #f89900!important;
}

.nav-link{
    color: var(--orange-gradient-dark)!important;
}