@font-face {
    font-family: "avenir book";
    src: url("/fonts/Avenir-Book.ttf");
}

:root {
    --main-bg-color: #e9e9e9;
    --main-footer-color: #dedede;
    --text-orange: #ff852d;
    --text-gris: #dedede;
    --orange-gradient-light: #feca00;
    --orange-gradient-dark: #ef5d00;
    --font-family-avenir-book: "avenir book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}